[project]
	description = test
[access "refs/*"]
	owner = group user/Max Hemby (TensaiNiNaru)
[access "refs/for/refs/*"]
	read = group user/Max Hemby (TensaiNiNaru)
	push = group user/Max Hemby (TensaiNiNaru)
	label-Code-Review = -2..+2 group user/Max Hemby (TensaiNiNaru)
	label-Verified = -1..+1 group user/Max Hemby (TensaiNiNaru)
	rebase = group user/Max Hemby (TensaiNiNaru)
	removeReviewer = group user/Max Hemby (TensaiNiNaru)
	submit = group user/Max Hemby (TensaiNiNaru)
[access "refs/heads/*"]
	read = group user/Max Hemby (TensaiNiNaru)
	create = group user/Max Hemby (TensaiNiNaru)
	push = +force group user/Max Hemby (TensaiNiNaru)
	pushMerge = group user/Max Hemby (TensaiNiNaru)
[access "refs/tags/*"]
	push = +force group user/Max Hemby (TensaiNiNaru)
	pushTag = group user/Max Hemby (TensaiNiNaru)
	pushSignedTag = group user/Max Hemby (TensaiNiNaru)
